{% extends "layout.html" %}

{% block body %}

<div class="grid-container">
        <div class="navigation-bar grid-item-row-1">
            <div class="navigation-bar-left">
                <div>
                    <a href="/" class="active">Home</a>
                </div>
                <div>
                    <a href="/about-us">About Us</a>
                </div>
            </div>
            <div class="navigation-bar-right">
                <div>
                    <input type="search">
                    <button>Search</button>
                </div>

            </div>
        </div>
        <div class="content-with-background-color grid-item-col-1-row-3">
            <p>Welcome to Mary Jones Nigeria Limited </p>
            <p>Your one stop shop for fantastic footwear!</p>
        </div>
        <div class="content-with-background-image grid-item-row-2">
            <div class="animated-content">
                <p>MJ is one of the thriving SMEs owned by a female in Nigeria</p>
            </div>
        </div>
        <div class="content-with-background-color grid-item-col-2-row-3">
            <p>Here in Mary Jones Limited, you can find shoes of all types. For Men, Women and Children</p>
            <p>Get shoes of different colours, shapes and sizes</p>
        </div>
        <div class="content-with-background-image2 grid-item-row-4">
            <p>For an affordable price</p>
            <p>You can order online with our E-commerce site or Buy your shoes on site in our stores all across Nigeria </p>
            <p>SHOP ONLINE!</p>
        </div>
        <div class="content-with-background-color grid-item-col-3-row-3">
            <p>Get a Shoes as a gift today</p>
            <p>Footwear to last you a lifetime.</p>
        </div>
    </div>


{% endblock%}










